body {
    margin: 0;
    overflow: hidden;
}

#game {
    position: absolute;
    width: 10000px;
    height: 10000px;
}

.player {
    position: absolute;
    width: 60px;
    height: auto;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px; /* Optional: small spacing between elements */
}

.player-btn {
    z-index: 10;
    font-size: 10px;
    padding: 2px 4px;
}

#sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f1f1f1;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    z-index: 1000;
}

#sidebar:not(.hidden) {
    transform: translateX(0);
}

#constructBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1100;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    cursor: default;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 10000px;
    height: 10000px;
    background-image: url('/static/background.png');
    background-repeat: repeat;
    z-index: -1;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
}

#instructions {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
}

#controls-player {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
}

#earth {
    /*transform: translate(20px, calc(100vh - 84px)); /* 64px height + 20px padding */
    width: 64px;
    height: 64px;
    /*cursor: grab;*/
    position: absolute;
    top: 200px;
    left: 10px;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
}

.health-bar {
    width: 40px;
    height: 6px;
    background: red;
    border: 1px solid black;
    margin-bottom: 2px;
    position: relative;
}
.health-fill {
    height: 100%;
    background: limegreen;
    width: 100%;
}
.bullet {
    position: absolute;
    width: 8px;
    height: 8px;
    background: yellow;
    border-radius: 50%;
    z-index: 5;
}
